#ssm-parent {
  /* display: none; */
  font-family: arial, sans-serif;
  color: white;
  line-height: 1rem;
}

/* Center the modal vertically and horizontally */
#ssm-parent .ssm-modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Modal container */
#ssm-parent .ssm-modal {
  backdrop-filter: blur(8px); /* Add backdrop filter for blur effect */
  -webkit-backdrop-filter: blur(8px); /* For Safari */
  position: fixed;
  z-index: 1050; /* Ensure modal appears above other content */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}


/* Modal content */
#ssm-parent .ssm-modal-content {
  font-family: arial, sans-serif;
  position: relative;
  background-color: #212121;
  border: 1px solid grey;
  border-radius: 0.25rem;
  outline: 0;
  width: 100%;
  max-width: 500px; /* Adjust the max-width as needed */
}

/* Modal content */
#ssm-parent .ssm-modal-content-detail {
  position: relative;
  background-color: #212121;
  border: 1px solid grey;
  border-radius: 0.25rem;
  outline: 0;
  width: 100%;
  max-width: 700px; /* Adjust the max-width as needed */
}

/* Modal header */
#ssm-parent .ssm-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 1.5rem;
  border-bottom: 1px solid grey;
}

/* Modal title */
#ssm-parent .ssm-modal-title {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  font-weight: 600;
}

/* Modal body */
#ssm-parent .ssm-modal-body {
  font-family: arial, sans-serif;
  padding: 1rem 1.5rem 0 1.5rem;
  font-size: 1.25rem;
}

#ssm-parent .ssm-site-title {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  padding: 10px 0;
  margin-top: 0;
}

#ssm-parent .ssm-site-status {
  font-size: 1rem;
  margin: 2rem 0 0 0;
}

/* Modal footer */
#ssm-parent .ssm-modal-footer {
  font-family: arial, sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 2rem 1.5rem;
}

#ssm-parent .ssm-btn {
  border: none;
  line-height: 2;
  font-weight: normal;
  font-size: 1.2em;
  padding: 0 1em;
  cursor: pointer;
  border-radius: 4px;
  user-select: none;
}


/* Close button */
#ssm-parent .ssm-btn-close {
  padding: 0.5rem 0.75rem;
  margin: -0.5rem -0.75rem;
}

/* Close button hover */
#ssm-parent .ssm-btn-close:hover {
  background-color: white;
}

/* Close button focus */
#ssm-parent .ssm-btn-close:focus {
  outline: 0;
  box-shadow: none;
}

/* Close button icon */
#ssm-parent .ssm-btn-close::before {
  content: "×";
  font-size: 1.5rem;
  line-height: 1;
  color: white;
}

/* Secondary button */
#ssm-parent .ssm-btn-secondary {
  color: #6FA4FF;
  text-decoration-line: underline;
  background: none;
  border: none;
}

/* Primary button */
#ssm-parent .ssm-btn-primary {
  color: #fff;
  background-color: #6FA4FF;
}

/* Primary button hover */
#ssm-parent .ssm-btn-primary:hover {
  background-color: #6FA4FF;
}

/* Primary button focus */
#ssm-parent .ssm-btn-primary:focus {
  outline: 0;
  background-color: #95bcf9;
}

#ssm-parent .ssm-modal-detail-block {
  padding: 15px 30px !important;
  background-color: #2B2B2B;
  border-radius: 0.25rem;
  padding: 1rem;
}

/* Graph stuff */
#ssm-parent .ssm-detail-graph-parent {
  margin: 5px 0 !important;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 1rem;
}

#ssm-parent .ssm-detail-graph {
  height: 2rem;
  border-radius: 0.25rem;
  width: 50%;
  background-color: #6FA4FF;
}

#ssm-parent .ssm-detail-cat {
  font-size: 1rem;
  margin-right: 1rem;
  width: 12rem;
}

#ssm-parent .ssm-stars {
}

#ssm-parent .ssm-star {
  /* background-color: #6FA4FF; */
}

#ssm-parent .ssm-detail-title {
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}
