body {
  background-color: #212121;
  margin: 0;
}

#content {
  margin: 0;
  color: white;
  font-family: arial, sans-serif;
  position: relative;
  outline: 0;
  width: 100%;
  max-width: 320px; /* Adjust the max-width as needed */
  padding: 0;
}

#verified {
  display: flex;
}

.checkmark {
  margin: 17px 10px 0 0;
}

#body {
  padding: 0.6rem 1.5rem;
}

#footer {
  border-top: 1px solid grey;
  padding: 0.6rem 1.5rem;
}

#settings {
  display: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 1.5rem;
  border-bottom: 1px solid grey;
}

.title {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  font-weight: 600;
}

.btn {
  border: none;
  line-height: 1em;
  font-weight: normal;
  font-size: 1em;
  padding: 0 1em 0 0;
  cursor: pointer;
  border-radius: 4px;
  user-select: none;
}

#settings-button {
  color: #6FA4FF;
  text-decoration-line: underline;
  background: none;
  border: none;
}

.arrow {
  border: solid #6FA4FF;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  margin-right: 6px;
}

.arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
